
.task_status.backlog{
    width: 60px;
    height: 30px;
    color: rgb(85, 85, 85);
    background-color: rgb(226, 226, 226);
}

.task_status.process{
    width: 100px;
    height: 30px;
    color: rgb(36, 113, 255);
    background-color: rgb(177, 217, 255);
}

.task_status.ready{
    width: 70px;
    height: 30px;
    color: rgb(53, 167, 59);
    background-color: rgb(206, 255, 212);
}

.task_status.backet{
    width: 70px;
    height: 30px;
    color: rgb(167, 53, 53);
    background-color: rgb(255, 206, 206);
}

.task_list_backlog li{
    padding-left: 10px;
    border-color: rgb(226, 226, 226);
}

.task_list_backlog{
    margin-left: -100px;
}

.task_list_proсess{
    margin-left: -140px;
}

.task_list_proсess li{
    padding-left: 10px;
    border-color: rgb(177, 217, 255);
}

.task_list_ready{
    margin-left: -110px;
}

.task_list_ready li{
    padding-left: 10px;
    border-color: rgb(206, 255, 212);
}

.task_list_backet{
    margin-left: -110px;
}

.task_list_backet li{
    padding-left: 10px;
    border-color:  rgb(255, 206, 206);
}

.task_list_items{
    width: 180px;
    height: 30px;
    padding-left: 10px;
    list-style: none;
    text-align: left;
    padding-top: 10px;
    margin-top:10px;
    border-left: 4px solid;
    border-color: gray;
    border-radius: 5px;
    background-color: white;
}

.list-task{
    margin-top: 5dvh;
    margin-left: -100px;
}