.task{
    max-width: 100%;
    display:flex;
}

.name-tasks{
    display: flex;
}

.task_status{
    width: 30px;
    margin-left: 50px;
    padding-top: 10px ;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
}

.task-board{
    display: flex;
}