.task_button_clear{
    width: 192px;
    height: 40px;
    margin-top: 160px;
    margin-left:-192px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color:rgb(167, 53, 53);
}

.task_button_clear:hover{
    background-color:rgb(141, 47, 47);
}